[Unit]
Description=J.O.H.N. Network
Requires=docker.service
After=docker.service

[Service]
User=root
Group=docker
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/var/john/
ExecStartPre=/usr/bin/docker compose down --rmi local -v
ExecStart=/usr/bin/docker compose -p "john" up -d --remove-orphans
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
